<html>
<head>
<title>Hiro Mailroom</title>
</head>
<body>
	<h1>Hiro Donations (for Github connection test)</h1>
	<h2>{% block subtitle %} {% endblock subtitle %}</h2>
	{% block content %} {% endblock content %}
</body>
</html>
